@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  font-family: Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .tw-font-family-normal {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
  }

  .tw-font-family-heading {
    font-family: 'Product Sans',Roboto,Arial,sans-serif;
  }

  .tw-font-family-info {
    font-family: Roboto,Arial,sans-serif;
  }

  .tw-color-neutral {
    color: #5f6368;
  }

  .tw-color-menu {
    color: #3c4043;
  }

}