@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  font-family: Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .tw-font-family-brand {
    font-family: Roboto,Arial,sans-serif;
  }

  .tw-color-neutral {
    color: #5f6368;
  }

  .tw-color-menu {
    color: #3c4043;
  }

  .tw-color-dark {
    color: #202124;
  }

  .tw-bg-brand {
    background-color: #673ab7;
  }

  .tw-color-brand {
    color: #673ab7;
  }
}